body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
}

.some-div {
  border: 3px solid aquamarine;
  margin: 10px;
  }

.some-div-begin {
  display: block;
  background-color: aquamarine;
  width: 50px;
  margin-top: 0;
}

.some-div-end {
  display: block;
  background-color: aquamarine;
  text-align: right;
  width:50px;
  margin-left: 1000px;
}

.parag {
  margin: 8px;
}

.some-span-begin {
  background-color: aquamarine;
}

.relative1 {
  position: relative;
}
.relative2 {
  position: relative;
  top: -40px;
  left: 20px;
  background-color: white;
  width: 500px;
  padding: 6px;;
}

.flex-container {
  display: flex; 
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  flex: 1; 
}

.min-content {
  width: -moz-min-content;
  width: min-content;
  border: 2px dotted rgb(96, 139, 168);
}
.max-content {
  width: -moz-max-content;
  width: max-content;
  border: 2px dotted rgb(96, 139, 168);
}